extends layout

block dynamicContent
    .wrapper
        .sidebar
            if isAuthentificated
                span #{usermail} 
            else
                span Pas connecté
            ul
                for liste in listesList
                    li
                        a(href="/liste") #{liste.name}  
            a(href="/liste/add") Ajouter une liste
            .footer
                li
                    a(href="/settings")  Paramètres
                li
                    a(href="/signup") Deconnexion
        .main_content
            h2 Prochaînes taches
            ul 
                for tache in tacheList


        