extends layout

block dynamicContent
     h1 Acceuil
        span #{usermail} 
        ul
            for liste in listesList
                li
                    a(href="/liste/{id}") #{liste.name}

        form(method="post", action="liste/create")
            p
                label Ajouter une liste
                input(type="text", name="listName")
            p
                input(type="submit", value="enregistrer")

        

        a(href="/login")  Connexion
        br
        a(href="/signup") Deconnexion
    

        