extends layout

block dynamicContent
     h1 
    if isAuthentificated
        span #{usermail}
        ul
            li
                a(href="/liste/add") #{listName}
        

        a(href="/login")  Connexion
        br
        a(href="/signup") Deconnexion
    

        