html
    head
    title= title
    link(rel="stylesheet" href="/style.css")
body
    
    .content
        if infoMessage
          div.info_block
            =infoMessage
            
    block dynamicContent