@charset "utf-8";

.bgImg{
	height: 100vh;
	background-image: url("../images/body.jpg");
	background-position:top;
	background-size:cover;
	background-repeat: no-repeat;

}

.my-container {
	background-color: aqua;
	height: 500px;
}

.btn-orange {
  color: #fff;
  background-color: #ED600B;
  border-color: #007bff;
}

.btn-orange:hover {
  color: #fff;
  background-color: #F77D06;
  border-color: #0062cc;
}



.container div{
	background-color: aquamrine;

}
